/* You can add global styles to this file, and also import other style files */
/* Your styles goes here. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

.grey-bg{
    background-color:#F2F2F2
  }
  .white-bg{
    background-color:white;
  }
  .flex{
    display: flex;
  }
  .absolute{
    position: absolute;
  }
  .modal-close{
    right:8px;
    top:8px;
  }
  .relative{
    position: relative;
  }
  
  .vertical-center{
    align-items: center;
    height: 100%;
  }
  
  .justify-center{
    justify-content: center;
  }
  
  .full-width{
    width: 100%;
  }
  
  .pointer-cursor{
    cursor: pointer;
  }
  
  .paddingp5{
    padding:4px
  }
  .padding1p5{
    padding:12px
  }
  .padding2p5{
    padding:20px
  }
  .padding3p5{
    padding:28px
  }
  .padding4p5{
    padding:36px
  }
  .padding5p5{
    padding:44px
  }
  .padding6p5{
    padding:52px
  }
  .padding7p5{
    padding:60px
  }
  .padding8p5{
    padding:68px
  }
  .padding9p5{
    padding:76px
  }
  .padding1{
    padding:8px
  }
  .padding2{
    padding:16px
  }
  .padding3{
    padding:24px
  }
  .padding4{
    padding:32px
  }
  .padding5{
    padding:40px
  }
  .padding6{
    padding:48px
  }
  .padding7{
    padding:56px
  }
  .padding8{
    padding:64px
  }
  .padding9{
    padding:72px
  }
  .padding10{
    padding:80px
  }
  .marginp5{
    margin:4px
  }
  .margin1p5{
    margin:12px
  }
  .margin2p5{
    margin:20px
  }
  .margin3p5{
    margin:28px
  }
  .margin4p5{
    margin:36px
  }
  .margin5p5{
    margin:44px
  }
  .margin6p5{
    margin:52px
  }
  .margin7p5{
    margin:60px
  }
  .margin8p5{
    margin:68px
  }
  .margin9p5{
    margin:76px
  }
  .margin1{
    margin:8px
  }
  .margin2{
    margin:16px
  }
  .margin3{
    margin:24px
  }
  .margin4{
    margin:32px
  }
  .margin5{
    margin:40px
  }
  .margin6{
    margin:48px
  }
  .margin7{
    margin:56px
  }
  .margin8{
    margin:64px
  }
  .margin9{
    margin:72px
  }
  .margin10{
    margin:80px
  }
  
  .full-width{
    width: 100%;
  }
  
  .modal{
    position: absolute;
    text-align: center;
    background-color: #fff;
    outline: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    overflow-y: auto;
    border-radius: 8px;
    /* height: 80%; */
    min-height: 300px;
    padding:32px;
    max-height:70%;
  }
  
  
  
  .hover-shadow:hover{
    box-shadow: 1px 1px 4px #00000044 ;
  }
  .shadow{
    box-shadow: 1px 1px 4px #00000044 ;
  }
  
  .dropzone{
    min-height: 100px;
    border-radius: 8px;
    border: 1px dashed grey
  }
  
  