@use '../../../../utils/styles/variables' as variables;
@use '../../../../utils/styles/mixins' as mixins;

.add-form {
  height: 100%;
  width: 100%;
  background: variables.$gloval-white;
  font-family: Montserrat;
  // overflow: scroll;
}

.add-form-heading {
  @include mixins.flex-space-between();
  margin-top: 2rem;
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: normal;
    @include mixins.flex-center();
  }
}
.add-form-body {
  display: flex;
  min-width: 600px;
  max-width: 900px;
  max-height: 800px;
  flex-direction: column;
  // margin: 3rem 0 3rem 0;
  padding: 3rem 3rem 0 3rem;
  overflow-y: auto;
  .field-container {
    display: grid;
    grid-template-columns: 30% 1fr;
    margin-bottom: 1rem;
    label {
      font-weight: 500;
      margin-right: 10px;
    }
  }
}
.add-form-button {
  @include mixins.flex-space-between();
  width: 250px;
  margin: 2rem auto;
}

.inner-form-container {
  height: 450px;
  background: variables.$gloval-white;
  overflow: scroll;
  padding: 3rem;
  .field {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    margin: 1rem;
    align-items: center;
    position: relative;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    height: 30px;
  }
}

// item-container
.item {
  display: flex;
  justify-content: space-between;
  .left {
    @include mixins.flex-center();
    img {
      object-fit: cover;
      margin: 0.5rem;
    }
    h3 {
      font-family: Montserrat;
      font-weight: 400;
    }
  }
  .right {
    @include mixins.flex-center();
    :nth-child(1) {
      margin: 1rem;
    }
  }
}

// item-footer
.footer {
  height: 2px;
  background: #e5e5e5;
}

// edit-form
.edit-container {
  height: 80%;
  width: 80%;
  background: variables.$gloval-white;
  overflow: scroll;
  .close-button {
    float: right;
    padding: 1rem;
  }
  .topbar {
    margin: 1rem;
    @include mixins.flex-space-between();
  }
}

@media only screen and (max-width: 900px) {
  .add-form-body{
    margin: 1rem;
    padding: 0 ;
  }
}