.news{
    width: 100%;
    padding: 40px 0 40px;
    justify-content: center;
}

.maindiv{
    background-color: #292931;
    padding-bottom: 5px;
    margin: auto;
    width: 85%;
    margin-top: 2%;
    
}
