
 /* * Replace this with your own classes
 *
 * e.g. */
 .main { 
     height: 80vh;
     display: flex;
     background: #FBFAF8
 }

 .center{
     width: 70vw;
     margin: auto;
     text-align: center;
     
 }



 /* .box{
     display: flex;
 } */

