 .main { 
     height: 80vh;
     display: flex;
     background: #FBFAF8
 }

 .center{
     width: 70vw;
     margin: auto;
     text-align: center;
     
 }

 .third{
     height: 40vh;
     display: grid;
     background: #292931;
 }

 .content{
     height: 75%;
     width: 60%;
     margin: auto;
 }

 h3{
     text-align: center;
     color: #FBFAF8;
 }

