.news{
    width: 100%;
    padding: 5% 0 10%;
    justify-content: center;
}

.maindiv{
    background-color: #161C33;
    padding-bottom: 5px;
    margin: auto;
    width: 85%;
    margin-top: 2%;
    
}
