$gloval-white: #ffffff;
$global-dark-blue: #0a2540;
$global-selected: #3cb9ff;
$global-active: lightgreen;
$global-grey: #505050;
$global-error-text: #fe2121;
$global-success-text: #39af39;

$store-header-color-one: #ff002e;
$store-header-color-two: #292931;

$sidenav-background: #0a2540;
$sidenav-item-selected-color: #3cb9ff;
$sidenav-item-selected-background: #212b52;

$default-button: linear-gradient(98.53deg, #4285f4 0%, #00b2ff 100%);
$edit-button: #4285f4;
$disable-button: #fe2121;
$cancel-button: #505050;
$enable-button: lightgreen;
